{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <h1>Bienvenue sur Event Time</h1>
        <a href="{{ path('event_list') }}">Voir la liste des événements</a>
    </div>

{% endblock %}
